.App {
  text-align: center;
  padding-top: 120px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* ヘッダーの位置を固定 */
  top: 0; /* 画面の上部に固定 */
  width: 100%; /* ヘッダーの幅を全画面に設定 */
  z-index: 1000; /* ヘッダーが他のコンテンツの上に表示されるように設定 */
}

.title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
  text-align: left;
}

.title a {
  color: white;
  text-decoration: none;
}

nav {
  flex: 2;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.App-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #282c34;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.App-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.App-footer ul li {
  margin-bottom: 10px;
}

.App-footer ul li a {
  color: white;
  text-decoration: none;
}

.App-footer ul li button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
